

.inst-h1{
  font-family: 'Oleo Script', cursive;
  margin: 5%;
text-align: center;
font-weight: 600;
}


#instruction {
  height:100vh;
  /* display: grid; */
  place-items: center; /* Center the main container */
  background: url("/static/images/ins.jpeg");
  background-size: cover;
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  overflow: hidden;
}
#instruction1 {
  background: url("/static/images/instruction_bg.jpg");
  background-size: cover;

}

.italic {
  font-style: italic;
}

.container {
  max-width: 800px;
  width: 80%;
  max-height: 400px;
  height: 80%;
  position: relative;
  filter: drop-shadow(16px 16px 20px rgba(106, 198, 16, 0.4));
}

.container:before {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 150%;
  width: 150%;
  z-index: -10;
}

.content {
  border-radius: 32px;
  top: 70px; /* Leave space for the progress bar */
  position: absolute; /* Place each text container on top of each other. */
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 3em;
  display: none; /* Hide all text containers */
  background:background-color: #000000;
background-image: linear-gradient(147deg, #434343 0%, #121212 74%); /* Add background so when next text containers are shown, the previous one are not being seen anymore. */
overflow-y:auto;
}

.content h1{
  font-weight: 600;
  color: #EEEEEE;
}
.content h2{
  font-weight: 600;
  color: #EEEEEE;
}



.content li{
  color: #EEEEEE;
  list-style-type: decimal;
}


.step {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 35px;
  width: 33.33%;
  font-weight: bold;
}

/* Circles referencing each step */
.step:after {
  content: ''; /* Content will be assign to each circle independently */
  position: absolute;
  width: 35px;
  color: white;
  font-size; 1.2em;
	height: 35px;
  border-radius: 50%;
  background: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: rgba(0,0,0,0.5); /* Setting background so that part of the progress line is not seen */
  transition: 0.5s ease-in-out; /* Transition for color fill */
  border: 2px solid white;
  box-shadow: 8px 8px 10px rgba(106, 198, 16, 0.4);
  display: flex;
  align-items: center; /* Center text */
  justify-content: center;

}

.step.first:after {
  content: '1';
}

.step.second:after {
  content: '2';
}

.step.third:after {
  content: '3';
}

/* Progress bar, before each step circle */
.step:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  height: 7px;
  border: 2px solid white;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease-in-out;
}

/* Hide the progress bar before the first step circle */
.step.first:before {
  display: none;
}

/* Each "button" */
label {
  background: rgb(106,198,16);
  color: white;
  padding: 0.5em 1.75em;
  position: absolute;
  right: 4em;
  bottom: 2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
  user-select: none; /* Just so the text can't be seleted. Not needed. */
	 -webkit-user-select: none; /* Just so the text can't be seleted. Not needed. */
}

label:hover {
  background: rgb(106,198,16);
  box-shadow: 10px 10px 10px rgba(106,198,16, 0.4);
  bottom: calc(2em + 2px);
  right: calc(4em + 2px);
}

/* Hide all checkboxes. They are not needed since they can be checked with the labels. */
input[name="toggler"] {
  display: none;
}

/* Show the (.content) placed immediately after a checked checkbox. */
input[name="toggler"]:checked + .content {
	 display: flex;
}

/* Change the background and color of the step circle located right after a checked checkbox and (.content). */

input[name='toggler']:checked + .content + .step:after {
	 background: white;
	 color: rgb(106, 198, 16);
}

/* Change the background and color of the progress bar located right after a checked checkbox and (.content). */
input[name='toggler']:checked + .content + .step:before {
	 background: white;
}

/* Change color of each step circles after a NOT selected checkbox. */
input:not(:checked) + .step {
	 color: white;
}

/* Change the background and color of the step circle located right after a NOT checked checkbox. */
input:not(:checked) + .step:after {
	 border-color: white;
	 color: white;
}

input[type="reset"] {
  align-self: flex-end;
  background: rgb(106,198,16);
  color: white;
  padding: 0.75em 2em;
  position: absolute;
  right: 4em;
  bottom: 2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
  user-select: none; /* So the text can't be seleted. Not needed. */
	 -webkit-user-select: none; /* So the text can't be seleted. Not needed. */
  border: none;
  font-size: 1rem;
}

input[type="reset"]:hover {
  background: rgb(106,198,16);
  box-shadow: 10px 10px 10px rgba(106,198,16, 0.4);
  bottom: calc(2em + 2px);
  right: calc(4em + 2px);
}


.button{
	display: flex;
	place-items: center;
	justify-content: center;
	height: 100%;
}
.button button{
	box-shadow: 0 0 30px #000;
	width: 300px;
	height: 60px;
	border-radius: 30px;
	border: 0;
	background: linear-gradient(147deg, #434343 0%, #121212 74%);;
	font-weight: bold;
	color: rgb(106,198,16);
	font-size: 1.5em;
	font-family: hubballi;
	border: 2px solid rgb(106,198,16);
  margin-bottom: 2%;
}
@keyframes hover{
	0%{}
	25%{border-right: 150px solid rgb(106,198,16);
		border-left: 150px solid rgb(106,198,16);
		color: black;
		padding: 0;
	border-radius: 0px;}
	50%{
		border: 2px solid rgb(106,198,16);
	}
	75%{
		border-top: 30px solid rgb(106,198,16);
		border-bottom: 30px solid rgb(106,198,16);
		padding: 0;
		display: flex;
		place-items: center;
		border-radius: 0;
	}
}
.button button:hover{
	animation-name: hover;
	animation-duration: 0.8s;
}

@media (max-width: 780px) {
  .container {
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  .container {
    max-height: 550px;
  }
}

@media (max-width: 500px) {
  .container {
    max-height: 600px;
  }
}

@media (max-width: 550px) {
  .container {
    max-height: 800px;
  }
}

@media (max-width: 400px) {
  .container {
    max-height: 900px;
  }
}
