{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Blogs
{% endblock %}

{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/static/images/background/bg.jpeg);">
  <div class="auto-container">
      <div class="sec-title">
            <h1>Our <span class="normal-font">Blog</span></h1>
            <div class="bread-crumb"><a href="{% url 'home'%}">Home</a> / <a href="#" class="current">Blog</a></div>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page">
  <div class="auto-container">
      <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                <!--Projects Section-->
                <section class="blog-news-section no-padd-bottom no-padd-top padd-right-20">

                    <div class="column blog-news-column">
                        <article class="inner-box">
                            <figure class="image-box">
                                <a href="#"><img src="{% static 'images/sus.jpg'%} " alt=""></a>
                                <div class="news-date">8<span class="month">FEB</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">SUSTAINABLE LIVING</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Posted by Ishaan Sharma</div>
                                    <div class="post-options pull-left clearfix">
                                        <a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 6</a>
                                        <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 14</a>
                                    </div>
                                </div>
                                <div class="text">A small step taken towards a big goal is a huge step. Every action we take is going to affect us in future. It is up to us if we want to choose regrets over goals or vice versa. Every action has a reaction but sometimes the reactions go too unpredictable. To save yourself from productivity, you may also calculate and navigate your actions. <br><br> 

                                    Our environment is deteriorating rapidly and it has already started to show reactions that are disastrous for us. Every other day/week/month, we hear a calamity happening. What are the causes of these calamities? Is that all just natural or do we have a part in it? <br><br>
                                    
                                    Of Course, we do and we all know it. It’s high time we become a part of the solution and not the problem. We all perform various activities during the day that we see as natural and ineffective but a small change in our lifestyles can go a long way and bring about a big change. <br><br>
                                    
                                    You can find a guide to big steps anywhere easily but is it that easy to follow it? I suppose not. Therefore, start small. Start small but stay consistent. If everyone starts taking small steps, do you think it would be just a small step? I thought so. <br><br>
                                    
                                    Small steps you can take to make a big change : <br><br>
                                    
                                    1. Close the water tap while brushing. <br>
                                    2. Try not using a bathtub or showers very often. You can use a bucket and a mug to take a bath in order to save water. <br>
                                    3. Use public transport when it’s available and convenient or pool in with your friends or colleagues while going out to reduce carbon print.  <br>
                                    4. Try travelling by land or sea route instead of taking flights as flights have a really bad imprint on Earth. <br>
                                    5. Switch off the TV while using your mobile phones. <br>
                                    6. Unplug electronics from ports overnight. <br>
                                    7. Air dry your hair. <br>
                                    8. Spend more time with nature. This way you exhaust less energy at home. <br>
                                    9. Start thrifting. <br><br>
                                    
                                    These are some of the very small steps you can take in order to have a sustainable life. What we shall sow, we must reap. This year let's choose our Earth and ourselves over our stubborn habits. 


</div>
                                <!-- <a href="#" class="theme-btn btn-style-three">Read More</a> -->
                            </div>
                        </article>
                    </div>


                    <!--News Column-->
                    <div class="column blog-news-column">
                        <article class="inner-box">
                            <figure class="image-box">
                                <a href="#"><img src="{% static 'images/b1.jpeg'%} " alt=""></a>
                                <div class="news-date">8<span class="month">JUL</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">ENVIRONMENTAL INFLUENCE ON HUMAN HEALTH</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Posted by Vaibhav Sharma</div>
                                    <div class="post-options pull-left clearfix">
                                        <a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 6</a>
                                        <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 14</a>
                                    </div>
                                </div>
                                <div class="text">Playing a blame game…We are the reason for our poor health. Be it mental or physical health. Feeling dizzy, anxious or having OCD all are the consequences of the mistakes we’ve made on this EARTH. <br><br>

 <b>At its core, the issue of a clean environment is a matter of public health.<br>
~ Gina McCarthy</b><br><br>

Environmental health is an aspect of public health that focuses on people's relationship  with the environment.
Fresh air, clean water, shelter and a stable climate are just some of the requirements of human health that are directly related to the environment.
Environmental public health challenges us to understand the link between the  health of the environment and our own health. By keeping the environment clean and safe, we can ensure that our mental and physical health remains intact.<br><br>

However it is important to directly jump on the real issues that have been faced by humans because of our own mistakes of degradation of the environment.<br><br>

Many factors influence the health of a population, including diet, hygiene, socioeconomic status, education, and lifestyle. These factors changed dramatically during the economic transformation that  shaped today's society and led to a dramatic increase in  life expectancy. However, they also show that during this same time period, the negative effects of air pollution on human health.<br><br>

To provide a complete picture of a population
health status, the various aspects affecting it can be combined in a measure of  “burden of disease”,  for example expressed in “disability adjusted life years” . They give an indication of how the duration of illness, combined with the impact of the illness, might alter people's ability  to live a normal life compared with those without the disease.<br><br>

Even the cleanest of environments cannot escape the occasional natural disasters. But environmental health processes can significantly reduce their impact.<br><br>

Recently noticed health risks include unsafe pet practices, through which toxins inadvertently enter the food chain. Dioxin inadvertently contaminates poultry feed that can enter the food chain to humans, and the use of feed containing carcasses of sick animals can cause "mad cow disease" (BSE) in livestock, which is linked to a new form of CreutzfeldtJakob disease. illness among consumers. <br><br>

Health effects of exposure to chemicals and air pollutants including allergies to cancer. Although the link between exposure and disease is often unclear, a direct cause-and-effect relationship has been found for some cases. Even at low exposure levels, urban air pollutants can cause asthma, allergies, respiratory disease, and cardiovascular disease with continuous or long-term exposure. Heavy metals have been shown to cause neurological disorders and various cancers. POPs can also cause various cancers and are suspected of causing birth defects and reproductive disorders.<br><br>

We are exposed to the air around us every moment of our lives. We breathe ambient air 15 times per minute and take in half a liter of air each time we breathe. This means that if the surrounding air is polluted, we are forced to breathe in 10,000 liters of polluted air every day. Air pollution causes serious illnesses, including diseases of the lungs, heart and kidneys. According to one estimate, air pollution is one of the top 10 causes of death globally and  the fifth leading cause of death in India. <br><br>

Contaminated water damages the body and leads to waterborne diseases such as diarrhea, typhoid and jaundice. It is estimated that around 3.8 million Indians suffer from water and sanitation-related diseases, and 1.5 million children die from diarrhea. <br><br>

Soil pollution basically contributes to air and water pollution. Industrial, agricultural, commercial and residential activities pollute the land, water and air. Grains (rice, wheat) and vegetables produced from contaminated soil affect quality and may contain toxic substances such as arsenic, cadmium, lead, mercury and others, which threaten human health. <br><br>

Environmental degradation has profound effects on the quality as well as the quantity of food. Increased levels of atmospheric carbon dioxide reduce micronutrients such as iron, zinc and vitamins in stable foods such as rice and wheat. These micronutrients are essential for the physical and mental development of the baby as well as the health of the mother. Environmental contamination by industrial and agricultural chemicals such as heavy metals, organochlorines and radionuclides can affect nutritional status and health by altering the diet.<br><br>

Everyone must assume their individual responsibility in this task. You can reduce your exposure to the environment by eating organic foods and testing your water  for metals or chemicals. The earth can do its job to heal you, but the best way to deal with it is to take precautions by avoiding a toxic lifestyle, both mentally and physically.<br><br>
</div>
                                <!-- <a href="#" class="theme-btn btn-style-three">Read More</a> -->
                            </div>
                        </article>
                    </div>

                    <!--News Column-->
                    <div class="column blog-news-column">
                        <article class="inner-box">
                            <figure class="image-box">
                                <a href="#"><img src="{% static 'images/b2.jpeg'%}" alt=""></a>
                                <div class="news-date">4<span class="month">JUL</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">MITTI</a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Posted by Shreya Snehi</div>
                                    <div class="post-options pull-left clearfix">
                                        <a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 4</a>
                                        <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 10</a>
                                    </div>
                                </div>
                                <div class="text"><b>“If we destroy soil, we destroy our lives.” - Sadhguru</b><br><br>

Save Soil is a global movement started by Sadhguru to address the soil crisis by bringing people from all over the world together to advocate for soil health and supporting leaders from all countries to implement national policies and activities to increase the organic content in cultivable soil.<br><br>

The Save Soil initiative aims to bring people together to preserve soil's enchantment alive.
Food is necessary for everyone's survival, which is why it is regarded as the most basic need of life. The question now is, from where does this food originate? <br><br>

Soil provides 95 percent of our food and antibiotics.  Soils operate as filters for toxins, preventing them from entering the food chain and reaching aquatic bodies such as rivers, lakes, seas, and oceans; however, this capability is restricted when pollution surpasses soils' capacity to handle pollution.<br><br>

Even in the past, whether it was the Bolshevik Revolution, the Chinese Cultural Revolution, or the French Revolution, all things eventually came to a point of famine and bread scarcity. <br><br>

Food availability is dependent on soils: we can only produce nutritious and high-quality food and animal fodder if our soils are healthy, living soils. Advances in agricultural technology, as well as rising demand due to a growing population, have increased the pressure on our soils during the last 50 years.<br><br>

In addition to it, malnutrition is caused directly by the soil. Fruits, flowers, and grains cultivated in depleted soil would be devoid of essential nutrients. Non-vegetarians are in the same boat because the animals graze on grass grown in the same soil. If you eat nutrition-deficient meals, your medical report will almost certainly indicate iron, vitamin, zinc, and other deficiencies. Nutritional supplements are prescribed by doctors to help you achieve a healthy balance in your body.<br><br>

It will be surprising to know that American Population, 100% are Potassium deficient, 90% have Vitamin E deficiency, 70% have Vitamin K deficiency, 52% don't have enough Magnesium, 43% don't have enough Vitamin A & 40% don't have enough Vitamin C. <br><br>

“The Earth upon which the sea, and the rivers and waters, upon which food and the tribes of man have arisen, upon which this breathing, moving life exists, shall afford us precedence in drinking.”
– Prithvi Sukta, Atharva Veda<br><br>

Talking about the economic situation, In India, 65% of the population is reliant on the land. Simultaneously, a global economy driven by speculative finance and boundless consumerism desires land for mining and industry, communities, highways, and biofuel crops. Global finance's speculative economy is hundreds of times larger than the value of real products and services produced worldwide. <br><br>

Investments and profits on investments are in high demand among financial capital. Everything in the world must be commodified, including land and water, plants and DNA, microorganisms and mammals. Through the introduction of Special Economic Zones and foreign direct investment in real estate, the commodification of land is fueling the corporate land grab in India.<br><br>

'We cannot destroy nature to feed humanity.’ If this crisis persists, the globe will experience the third world war on land in the not-too-distant future. We can think up something good in the next 15-25 years if we start now. However, if we think about it more, it will take between 100 and 250 years to regenerate.
Rather than squandering potential soil, it is critical to recognise its value as soon as feasible. So, let's try to work together and deal with this circumstance with more maturity and calm.<br><br>

</div>
                                <!-- <a href="#" class="theme-btn btn-style-three">Read More</a> -->
                            </div>
                        </article>
                    </div>

                    <!--News Column-->
                    <div class="column blog-news-column">
                        <article class="inner-box">
                            <figure class="image-box">
                                <a href="#"><img src="{% static 'images/b3.jpeg'%}" alt=""></a>
                                <div class="news-date">1<span class="month">JUL</span></div>
                            </figure>
                            <div class="content-box">
                                <h3><a href="#">DYING MARINE ANIMALS </a></h3>
                                <div class="post-info clearfix">
                                    <div class="post-author">Posted by Ishaan Nagpal</div>
                                    <div class="post-options pull-left clearfix">
                                        <a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 7</a>
                                        <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 13</a>
                                    </div>
                                </div>
                                <div class="text">Do you know nearly 1,000 species of marine life are affected by marine pollution, and more than 500 are currently registered as dead zones where marine life cannot exist? Let’s find out how we humans are the main reason for these dying marine animals. <br><br>

Marine pollution means that humans bring substances  into the marine environment, causing damage to biological resources, harm  to human health, obstruction of marine activities such as fishing, deterioration of quality  of seawater use, and  reduction of lead facilities.
Marine debris contains all manufactured products (mostly made of plastic) that eventually go out into the ocean. Garbage, strong winds and poor waste disposal all contribute to the accumulation of this waste, 80% of which comes from terrestrial sources. Common types of marine debris include various plastic products such as shopping bags and beverage bottles, as well as cigarette butts, bottle caps, food wraps, and fishing equipment. Plastic waste is particularly problematic as a pollutant due to its high durability. Plastic products can take hundreds of years to disassemble. <br><br>

At the outset, microplastics are less than 5 millimeters in diameter and are found in many marine life, including plankton and whales. When small organisms that consume microplastics are eaten by large animals,  toxic chemicals  become part of  the tissue. This is how microplastic pollution goes up the food chain and eventually becomes part of the food people eat.<br><br>

Undoubtedly humans have strengthened the marine pollution of nature and have certainly created new stressors through innovation. These have been enhanced as  new qualities of the Anthropocene by man-made changes in soil, atmosphere and water bodies. The hydrosphere contains the ocean, which covers about 70% of the Earth's surface and provides more than 99% of the Earth's water resources. Anthropogenic effects include industry (noise, radiation, heavy metals, nanoparticles, etc.), agriculture (pesticides, antibiotics, fertilizers, etc.), urban pollutants (organic matter, pharmaceuticals, CO2, etc.) and vary from the atmosphere. Invade the ocean by route. Aquatic runoff and rivers from coastal groundwater and between these areas. <br><br>

Talking about the main reasons of marine pollution:
•Non-point source pollution comes from a variety of  locations and sources. The result  is a spill that occurs when rain or snow carries pollutants from the ground to the sea. For example, after a heavy storm, water flows from the road into the sea, carrying the oil left by the car on the road. <br>
•Manufacturing plants in some parts of the world release toxic waste, including mercury, into the ocean. Sewage is deliberately discharged into the ocean, but like plastic products, it contributes to marine pollution. According to the Ocean Conservancy, 8 million tonnes of plastic flow into our oceans each year. <br>
•Vessels are a major source of marine pollution, especially if crude oil spills. Crude oil stays in the sea for years  and is difficult to purify. <br>
•Air pollution, that is, objects carried by the wind to the sea, is a big problem. Plastic bags and Styrofoam containers are suspended in  water and do not decompose. <br>
•Deep sea mining causes pollution and confusion at the lowest levels of the ocean. Excavation of materials such as cobalt, zinc, silver, gold and copper deposits harmful sulfides deep in the ocean.<br>

In this case, marine animals are often victims of marine pollution. For example, an oil spill involves and chokes sea creatures by penetrating the gills. Oil in the feathers of seabirds can prevent them from flying or feeding their children. Animals that are not killed by crude oil can develop cancer, show behavioral changes, and stop breeding. Sea creatures can also mistake small pieces of plastic  for food, get entangled in  plastic bags or abandoned fishing nets, and be strangled. Animals that are most vulnerable to damage from marine plastic debris include dolphins, fish, sharks, turtles, seabirds, and crabs.
Excess marine debris slowly decomposes over the  years and uses oxygen to decompose it, reducing ocean O2. Hypoxia levels  in the ocean lead to the death of marine animals such as penguins, dolphins, whales and sharks. Excessive nitrogen and phosphorus in seawater also lead to oxygen deficiency. Severe oxygen deficiency in areas of the ocean can lead to dead zones where  marine life cannot survive. <br><br>

Consequently, marine pollutants return to people. Small creatures pick up toxins and are eaten by large predators. Many of them are the fish and shellfish that we ultimately eat. Toxins from contaminated animals can deposit in human tissues, causing long-term health problems such as cancer and birth defects. Marine pollution solution

Given the long-term and catastrophic consequences of marine pollution, whatever we can do to avoid marine pollution is a good idea. Here are some marine pollution solutions that can make a big difference. <br><br>

All we can do in our part is to reduce the use of chemical fertilizers, Excessive fertilizer will eventually flow into the sea. Choosing organic fertilizers that tend to be low in nutrients and use them at half the strength or half the frequency recommended. Tools, including disposable PET bottles and  straws, are large marine pollutants. Choose reusable bottles and tools instead of contributing to the threat to marine life.
In addition to this, planning socially distant cleaning on the beach or in a nearby park. The more trash we pick up and  dispose of properly, the less trash we throw into our oceans. Please dispose of plastic and garbage properly. Another easiest way to reduce marine pollution is to properly dispose of plastics and other recyclable materials to prevent them from flowing into the ocean. In outdoor areas such as beaches and parks, dump your trash in a safe trash can or take it home. <br><br>

After all, let’s try to be a part of the solution not a part of the pollution. <br>
</div>
                                <!-- <a href="#" class="theme-btn btn-style-three">Read More</a> -->
                            </div>
                        </article>
                    </div>


                    <!-- Styled Pagination -->
                    <!-- <div class="styled-pagination padd-top-20 margin-bott-40">
                        <ul>
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#">Next&ensp;<span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div> -->
                </section>


            </div>
            <!--Content Side-->

            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Search Form -->
                    <!-- <div class="widget search-box">

                        <form method="post" action="index.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Enter keyword">
                                <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                            </div>
                        </form>

                    </div> -->

                    <!-- Popular Categories -->
                    <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Categories</h3></div>

                        <ul class="list">
                          <li><a class="clearfix" href="#">Environment</a></li>
                            <li><a class="clearfix" href="#">Forest</a></li>
                            <li><a class="clearfix" href="#">Water</a></li>
                            <li><a class="clearfix" href="#">Nature</a></li>
                            <li><a class="clearfix" href="#">Soler</a></li>
                            <li><a class="clearfix" href="#">Eco Energy</a></li>
                        </ul>

                    </div>


                    <!-- Recent Posts -->
                    <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Latest Posts</h3></div>

                        <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/b1.jpeg'%} " alt=""></figure>
                            <h4><a href="#">Environmental Influence On Human Health</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Vaibhav Sharma </div>
                        </article>

                         <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/b2.jpeg'%}" alt=""></figure>
                            <h4><a href="#">Mitti</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Shreya Snehi </div>
                        </article>

                        <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/b3.jpeg'%}" alt=""></figure>
                            <h4><a href="#">Dying Marine Animals</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Ishaan Nagpal </div>
                        </article>

                    </div>

                    <!-- Archives -->
                    <!-- <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Archives</h3></div>

                        <ul class="list">
                          <li><a href="#">April 2016</a></li>
                            <li><a href="#">March  2016</a></li>
                            <li><a href="#">February 2016</a></li>
                            <li><a href="#">January 2016</a></li>
                            <li><a href="#">December 2015</a></li>
                            <li><a href="#">November 2015</a></li>
                        </ul>

                    </div> -->

                    <!-- Popular Tags -->
                    <!-- <div class="widget popular-tags">
                        <div class="sidebar-title"><h3>KeyWords</h3></div>

                        <a href="#">Child</a>
                        <a href="#">Water</a>
                        <a href="#">Donate</a>
                        <a href="#">Money</a>
                        <a href="#">Volunteer</a>

                    </div> -->

                </aside>


            </div>
            <!--Sidebar-->


        </div>
    </div>
</div>
{% endblock %}
