{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Projects
{% endblock %}

{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image:url(/static/images/background/page-title-bg.jpg);">
  <div class="auto-container">
      <div class="sec-title">
            <h1>Our <span class="normal-font">Projects</span></h1>
            <div class="bread-crumb"><a href="{% url 'home'%}">Home</a> / <a href="#" class="current">Projects</a></div>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page">
  <div class="auto-container">
      <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

                <!--Projects Section-->
                <section class="projects-section no-padd-bottom no-padd-top padd-right-20">

                    <div class="row clearfix">

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-3.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Tree Plantation</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-12.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Fresh Nature</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-13.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Save Forest</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-14.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Save Animals</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-15.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Melting Ice</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                        <!--Default Featured Column-->
                        <div class="column default-featured-column col-md-6 col-sm-6 col-xs-12">
                            <article class="inner-box">
                                <figure class="image-box">
                                    <a href="#"><img src="{% static 'images/resource/featured-image-16.jpg'%}" alt=""></a>
                                </figure>
                                <div class="content-box">
                                    <h3><a href="#">Solar Panels</a></h3>
                                    <div class="column-info">Environment, Go Green Company</div>
                                    <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei purto dolor timeam mea ne.</div>
                                    <a href="#" class="theme-btn btn-style-three">Learn More</a>
                                </div>
                            </article>
                        </div>

                    </div>

                    <!-- Styled Pagination -->
                    <div class="styled-pagination padd-top-20 margin-bott-40">
                        <ul>
                            <li><a class="prev" href="#"><span class="fa fa-angle-left"></span>&ensp;Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#">Next&ensp;<span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                </section>


            </div>
            <!--Content Side-->

            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar">

                    <!-- Search Form -->
                    <div class="widget search-box">

                        <form method="post" action="index.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Enter keyword">
                                <button type="submit"><span class="icon flaticon-tool-5"></span></button>
                            </div>
                        </form>

                    </div>

                    <!-- Popular Categories -->
                    <div class="widget popular-categories wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Categories</h3></div>

                        <ul class="list">
                          <li><a class="clearfix" href="#">Environment</a></li>
                            <li><a class="clearfix" href="#">Forest</a></li>
                            <li><a class="clearfix" href="#">Water</a></li>
                            <li><a class="clearfix" href="#">Nature</a></li>
                            <li><a class="clearfix" href="#">Soler</a></li>
                            <li><a class="clearfix" href="#">Eco Energy</a></li>
                        </ul>

                    </div>


                    <!-- Recent Posts -->
                    <div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Latest Posts</h3></div>

                        <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/resource/post-thumb-6.jpg'%} " alt=""></figure>
                            <h4><a href="#">Deforestation is threating by  activites...</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Rashed Kabir </div>
                        </article>

                         <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/resource/post-thumb-7.jpg'%}" alt=""></figure>
                            <h4><a href="#">Deforestation is threating by  activites...</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Rashed Kabir </div>
                        </article>

                        <article class="post">
                          <figure class="post-thumb"><img src="{% static 'images/resource/post-thumb-8.jpg'%}" alt=""></figure>
                            <h4><a href="#">Deforestation is threating by  activites...</a></h4>
                            <div class="post-info"><span class="icon flaticon-people-1"></span> By Rashed Kabir </div>
                        </article>

                    </div>

                    <!-- Archives -->
                    <div class="widget archives-list wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sidebar-title"><h3>Archives</h3></div>

                        <ul class="list">
                          <li><a href="#">April 2016</a></li>
                            <li><a href="#">March  2016</a></li>
                            <li><a href="#">February 2016</a></li>
                            <li><a href="#">January 2016</a></li>
                            <li><a href="#">December 2015</a></li>
                            <li><a href="#">November 2015</a></li>
                        </ul>

                    </div>

                    <!-- Popular Tags -->
                    <div class="widget popular-tags">
                        <div class="sidebar-title"><h3>KeyWords</h3></div>

                        <a href="#">Child</a>
                        <a href="#">Water</a>
                        <a href="#">Donate</a>
                        <a href="#">Money</a>
                        <a href="#">Volunteer</a>

                    </div>

                </aside>


            </div>
            <!--Sidebar-->


        </div>
    </div>
</div>
{% endblock %}
